* {
  text-decoration: none !important;
}

.MuiTableRow-root > * {
  padding: 10px;
}

.MuiTableRow-root.MuiTableRow-head > * {
  font-weight: bold !important;
}

.dropdown-button {
  margin: 10px 0;
}

.dropdown-button button {
  background-color: transparent;
  color: inherit;
  border: none;
  border-bottom: 2px solid #46ffa9;
  padding: 0;
}

.dropdown-button button:focus,
.dropdown-button button:hover {
  background-color: transparent;
  border-color: #007bff;
  color: #007bff;
}

.dropdown-menu {
  max-height: 400px;
  overflow-y: auto;
}

.Table {
  margin: 0;
  margin-top: 10px;
}

.Table td,
th {
  border: none !important;
}

.Table:first-child {
  border-radius: 0.7rem !important;
}

.status {
  padding: 8px;
  border-radius: 9px;
}

.Details {
  color: #00b5ff !important;
}

.popup-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 100px;
  padding-right: 10px;
}

.form-transparent {
  background-color: transparent;
  border: none;
}

.input-group-text {
  background-color: transparent !important;
  border-color: transparent !important;
}

.input-transparent {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.05) inset !important;
}

@media screen and (max-width: 1200px) {
  .Table {
    width: 170%;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .Table {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23rem;
  }
}
